{{ 'booking-calendar.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/material_blue.css">


<div class="booking-calendar">

  <h2>Select Booking Dates</h2>

  <div id="calendar-container">

    <input
      type="text"
      id="booking-date"
      readonly
    >


    <div class="selected-wrapper">

      <h3>Selected Dates:</h3>

      <ul id="selected-dates"></ul>

    </div>





    <input
      type="hidden"
      id="booking-table"
      value="{{ product.title }}"
    >

    <input
      type="hidden"
      id="booking-date-1"
    >

    <input
      type="hidden"
      id="booking-date-2"
    >

    <input
      type="hidden"
      id="booking-date-3"
    >

  </div>

</div>

<button 
  type="button" 
  id="book-now"
  class="button button--primary"
>
  Book Now
</button>



<div id="booking-popup" class="booking-popup">

  <div class="popup-content">

    <h3 id="popup-title"></h3>

    <p id="popup-message"></p>

    <button id="close-popup">
      OK
    </button>

  </div>

</div>



<script>

window.bookingData = {

    tableName: "{{ product.title | escape }}",

    unavailableDates: [

        {% assign first = true %}

        {% for booking in shop.metaobjects.booking.values %}

            {% if booking.status.value == "Booked" 
              and booking.table.value.id == product.id %}

                {% unless first %},{% endunless %}

                "{{ booking.date.value }}"

                {% assign first = false %}

            {% endif %}

        {% endfor %}

    ]

};



window.customerBookingData = {

    bookedDays:
    {{ customer.metafields.custom.upcoming_bookings_dates.value | default: 0 | json}}

};

</script>



<script src="https://cdn.jsdelivr.net/npm/flatpickr" defer></script>

<script src="{{ 'booking-calendar.js' | asset_url }}" defer></script>